# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
env/
dist/
build/
*.egg-info/
.pytest_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache
.stylelintcache
frontend/dist

# Docker
.docker/
docker-compose.override.yml

# Backend dynamic files
backend/frontend_dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
